@charset "UTF-8";

li .info_message {
	color: gray;
}

li .chat_message {
	font-size: 0.8em;
}

.tw_emote {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: -3px;
}

.tw_badge {
	margin-left: 5px;
	margin-bottom: -3px;
}

.message {
	border-bottom: 1px solid #111;
	padding: 3px;
	margin-bottom: 5px;
}

.popup_message {
	font-size: 1.2em !important;
}

.chat {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 10%;
	margin-top: 10% !important;
}